Repository greenplum-db/gpdb, pull requests merged in 2018-12, with the labels that each got.

#6322 resgroup: fix startup error when all cpu cores are allocated.
  src/backend/utils/resgroup/resgroup.c
  src/backend/utils/resgroup/test/resgroup_test.c
  src/test/isolation2/expected/resgroup/resgroup_cpuset_empty_default.out
  src/test/isolation2/isolation2_resgroup_schedule
  src/test/isolation2/sql/resgroup/resgroup_cpuset_empty_default.sql
Labels: Resource Groups

#6408 Add hook point for `alter table set distributed by`
  src/backend/commands/tablecmds.c
  src/test/regress/input/query_info_hook_test.source
  src/test/regress/output/query_info_hook_test.source
Labels: 5X_STABLE

#6405 5X: resgroup: fix startup error when all cpu cores are allocated
  src/backend/utils/resgroup/resgroup.c
  src/backend/utils/resgroup/test/resgroup_test.c
  src/test/isolation2/expected/resgroup/resgroup_cpuset_empty_default.out
  src/test/isolation2/isolation2_resgroup_schedule
  src/test/isolation2/sql/resgroup/resgroup_cpuset_empty_default.sql
Labels: 5X_STABLE, Resource Groups

#6390 resgroup: allow shared memory as operator memory.
  src/backend/executor/execMain.c
  src/backend/utils/resource_manager/memquota.c
  src/test/isolation2/expected/resgroup/resgroup_operator_memory.out
  src/test/isolation2/isolation2_resgroup_schedule
  src/test/isolation2/sql/resgroup/resgroup_operator_memory.sql
Labels: Resource Groups

#6404 pg_dump: Preserve OID for schema "public" during upgrade
  contrib/pg_upgrade/pg_upgrade.c
  src/bin/pg_dump/pg_backup.h
  src/bin/pg_dump/pg_backup_archiver.c
  src/bin/pg_dump/pg_dump.c
  src/bin/pg_dump/pg_restore.c
  src/test/regress/expected/gp_upgrade_cornercases.out
  src/test/regress/sql/gp_upgrade_cornercases.sql
Labels: Upgrade

#6399 docs: update gprecoverseg_help
  gpMgmt/doc/gprecoverseg_help
Labels: 5X_STABLE, documentation

#6445 resgroup: allow operators enlarge their memory quota.
  src/backend/executor/execHHashagg.c
  src/backend/utils/resource_manager/memquota.c
  src/include/executor/execHHashagg.h
  src/test/isolation2/expected/resgroup/resgroup_operator_memory.out
  src/test/isolation2/sql/resgroup/resgroup_operator_memory.sql
Labels: Resource Groups

#6554 WIP: Provide UDF to query the gpexpand status.
  gpMgmt/bin/gpexpand
  src/backend/utils/misc/gpexpand.c
  src/include/catalog/pg_proc.sql
  src/include/catalog/pg_proc_gp.h
  src/include/utils/gpexpand.h
  src/test/regress/expected/gpexpand_status.out
  src/test/regress/greenplum_schedule
  src/test/regress/sql/gpexpand_status.sql
Labels: feature branch, gpdb6 expand
