Repository greenplum-db/gpdb, pull requests merged in 2018-11, with the labels that each got.

#6130 pg_upgrade: .gitignore symlinked source file
  contrib/pg_upgrade/.gitignore
Labels: Upgrade

#6179 pg_upgrade: quick fix to demoprot_untrusted2 CI redness
  contrib/pg_upgrade/test_gpdb_pre.sql
Labels: Upgrade

#6182 pg_upgrade testing: add local perf test mode and basic run timing
  contrib/pg_upgrade/Makefile
  contrib/pg_upgrade/test_gpdb.sh
Labels: Upgrade

#6157 ao_upgrade: load GPDB4 numerics via binary format
  src/backend/utils/adt/numeric.c
  src/include/utils/numeric.h
  src/test/isolation2/input/ao_upgrade.source
  src/test/isolation2/isolation2_regress.c
  src/test/isolation2/output/ao_upgrade.source
  src/test/isolation2/output/ao_upgrade_optimizer.source
Labels: Upgrade

#6212 pg_upgrade: add a simple timing of pg_upgrade in test_upgrade.sh
  concourse/scripts/test_upgrade.bash
Labels: Upgrade

#6204 Fix memory leak in eval_part_qual
  src/backend/cdb/partitionselection.c
  src/include/nodes/execnodes.h
  src/test/regress/expected/memconsumption.out
  src/test/regress/sql/memconsumption.sql
Labels: Executor, GPORCA

#6238 Fix memory leak in eval_part_qual
  src/backend/cdb/partitionselection.c
  src/include/nodes/execnodes.h
Labels: 5X_STABLE

#6338 Fix SIGSEGV causes by unexpected cleanup of gangs
  src/backend/cdb/dispatcher/cdbgang.c
  src/test/regress/input/dispatch.source
  src/test/regress/output/dispatch.source
Labels: 5X_STABLE

#6358 gpcrondump: Do not drop post data objects by default
  gpMgmt/test/behave/mgmt_utils/backup_and_restore_backups.feature
  gpMgmt/test/behave/mgmt_utils/backup_and_restore_restores.feature
  gpMgmt/test/behave/mgmt_utils/steps/data/add_rules_indexes_constraints_triggers.sql
  gpMgmt/test/behave/mgmt_utils/steps/mgmt_utils.py
  src/bin/pg_dump/pg_backup_files.c
Labels: 5X_STABLE
