Repository greenplum-db/gpdb, pull requests merged in 2018-10, with the labels that each got.

#5847 gpcreateseg.sh: Only remove CIDR for localhost if pg_hba.conf exists
  gpMgmt/bin/lib/gpcreateseg.sh
Labels: 5X_STABLE

#5909 pg_upgrade: improve report about failure to match up old and new tables
  contrib/pg_upgrade/info.c
  contrib/pg_upgrade/pg_upgrade.h
Labels: Upgrade

#5865 [5X] Set rte->subquery as NULL in remove_subquery_in_RTEs().
  src/backend/cdb/cdbmutate.c
  src/test/regress/expected/gp_explain.out
  src/test/regress/expected/gp_explain_optimizer.out
  src/test/regress/sql/gp_explain.sql
Labels: 5X_STABLE

#5952 gprecoverseg: Do not throw exception in `CleanSharedMem.execute()`.
  gpMgmt/bin/gppylib/operations/unix.py
Labels: 5X_STABLE

#5969 5X: Dispatch truncated query strings
  src/backend/cdb/dispatcher/cdbdisp_query.c
Labels: 5X_STABLE

#5954 Zero out distributed xlogs during segment upgrade
  src/backend/access/transam/distributedlog.c
  src/backend/access/transam/test/distributedlog_test.c
Labels: Upgrade

#5994 Stop connecting in utility mode on pg_dumpall
  contrib/pg_upgrade/dump.c
  src/bin/pg_dump/pg_dumpall.c
Labels: Upgrade

#5960 Retire threaded dispatcher
  gpdb-doc/dita/admin_guide/managing/configure.xml
  gpdb-doc/dita/ref_guide/config_params/guc-list.xml
  gpdb-doc/dita/ref_guide/config_params/guc_category-list.xml
  gpdb-doc/dita/ref_guide/config_params/guc_config.ditamap
  src/backend/cdb/cdbvars.c
  src/backend/cdb/dispatcher/Makefile
  src/backend/cdb/dispatcher/README.md
  src/backend/cdb/dispatcher/cdbconn.c
  src/backend/cdb/dispatcher/cdbdisp.c
  src/backend/cdb/dispatcher/cdbdisp_async.c
  src/backend/cdb/dispatcher/cdbdisp_query.c
  src/backend/cdb/dispatcher/cdbdisp_thread.c
  src/backend/cdb/dispatcher/cdbdispatchresult.c
  src/backend/cdb/dispatcher/cdbgang.c
  src/backend/cdb/dispatcher/cdbgang_async.c
  src/backend/cdb/dispatcher/cdbgang_thread.c
  src/backend/cdb/dispatcher/test/cdbgang_test.c
  src/backend/storage/ipc/ipc.c
  src/backend/utils/misc/guc_gp.c
  src/backend/utils/misc/postgresql.conf.sample
  src/include/cdb/cdbconn.h
  src/include/cdb/cdbdisp.h
  src/include/cdb/cdbdisp_thread.h
  src/include/cdb/cdbdispatchresult.h
  src/include/cdb/cdbgang.h
  src/include/cdb/cdbgang_async.h
  src/include/cdb/cdbgang_thread.h
  src/include/cdb/cdbutil.h
  src/include/cdb/cdbvars.h
  src/include/utils/guc.h
Labels: Dispatch

#5942 resgroup: calc cpu rate limit based on parent cgroup.
  src/backend/utils/resgroup/resgroup-ops-dummy.c
  src/backend/utils/resgroup/resgroup-ops-linux.c
  src/backend/utils/resgroup/resgroup_helper.c
  src/include/utils/resgroup-ops.h
Labels: Resource Groups

#6023 5X: resgroup: calc cpu rate limit based on parent cgroup
  src/backend/utils/resgroup/resgroup-ops-dummy.c
  src/backend/utils/resgroup/resgroup-ops-linux.c
  src/backend/utils/resgroup/resgroup_helper.c
  src/include/utils/resgroup-ops.h
Labels: 5X_STABLE, Resource Groups

#6018 pg_upgrade: don't run ANALYZE at all on segments
  contrib/pg_upgrade/pg_upgrade.c
Labels: Upgrade

#6020 Fix restore of AO auxiliary tables in pg_upgrade
  contrib/pg_upgrade/aotable.c
  contrib/pg_upgrade/pg_upgrade.c
  src/backend/commands/tablecmds.c
Labels: Upgrade

#6019 pg_upgrade: correctly copy AO[CO] relfile segments
  contrib/pg_upgrade/relfilenode.c
Labels: Upgrade

#5970 Add tests for ORCA commmit "Remove broadcasts for Inner NLJ with INDF join predicates"
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  gpAux/releng/releng.mk
  src/test/regress/expected/bfv_joins.out
  src/test/regress/expected/bfv_joins_optimizer.out
  src/test/regress/sql/bfv_joins.sql
Labels: GPORCA

#6029 Ensure ccache config file exists before conan compilation
  concourse/scripts/compile_gpdb_open_source_ubuntu.bash
Labels: 5X_STABLE

#6028 Add pg_upgrade tests to master pipeline
  concourse/pipelines/gpdb_master-generated.yml
  concourse/pipelines/templates/gpdb-tpl.yml
  concourse/scripts/configurations/pg_upgrade_gpinitsystem_config
  concourse/scripts/dumpsort.gawk
  concourse/scripts/set_gpinitsystem_config.sh
  concourse/scripts/test_upgrade.bash
  concourse/tasks/set_gpinitsystem_config.yml
  concourse/tasks/test_upgrade.yml
Labels: Upgrade

#6044 Improvements for pg_upgrade ICW tests
  contrib/pg_upgrade/test_gpdb.sh
Labels: Upgrade

#6047 pg_upgrade: work around recent test failures
  contrib/pg_upgrade/test_gpdb_pre.sql
Labels: Upgrade

#5957 pg_dump: try to omit expensive external partition queries
  src/bin/pg_dump/pg_dump.c
Labels: Upgrade

#6054 Makefile: Add `ubuntu` to supported BLD_ARCH
  gpAux/Makefile
  gpAux/releng/set_bld_arch.sh
Labels: 5X_STABLE

#6046 correct ao table relfile operations for unlink, copy and upgrade
  contrib/pg_upgrade/Makefile
  contrib/pg_upgrade/relfilenode.c
  src/backend/access/appendonly/Makefile
  src/backend/access/appendonly/aomd.c
  src/backend/access/appendonly/aomd_filehandler.c
  src/backend/access/appendonly/test/Makefile
  src/backend/access/appendonly/test/aomd_filehandler_test.c
  src/backend/access/appendonly/test/aomd_test.c
  src/include/access/aomd.h
Labels: Upgrade

#6048 pg_upgrade: enable isolation2test inclusion
  contrib/pg_upgrade/test_gpdb_pre.sql
Labels: Upgrade

#6076 [5X] Inferring quals on left outer joins incorrectly
  src/backend/optimizer/path/pathkeys.c
  src/test/regress/expected/bfv_joins.out
  src/test/regress/expected/bfv_joins_optimizer.out
  src/test/regress/sql/bfv_joins.sql
Labels: 5X_STABLE

#6086 drop isolation2test in pg_upgrade test due to interaction with partition indexes
  contrib/pg_upgrade/test_gpdb_pre.sql
Labels: Upgrade

#6087 keep isolation2test for pg_upgrade testing but drop partition indexes
  contrib/pg_upgrade/test_gpdb_pre.sql
  contrib/pg_upgrade/test_gpdb_pre_drop_partition_indices.sql
Labels: Upgrade

#6082 Added '$' to the end of ddboost filename regex
  src/bin/pg_dump/cdb/cdb_ddboost_util.c
Labels: 5X_STABLE
