Repository greenplum-db/gpdb, pull requests merged in 2019-11, with the labels that each got.

#8970 (6x backport)A volatile LIMIT should not pushdown.
  src/backend/optimizer/plan/planner.c
  src/test/regress/expected/limit_gp.out
  src/test/regress/sql/limit_gp.sql
Labels: backport, version: 6X_STABLE

#8951 Add support for update extension
  src/backend/commands/extension.c
  src/backend/nodes/copyfuncs.c
  src/backend/nodes/equalfuncs.c
  src/backend/nodes/outfuncs.c
  src/backend/nodes/readfast.c
  src/include/nodes/parsenodes.h
Labels: needs: backport

#8966 Empty CDB Segment IP cache on disconnect
  src/backend/cdb/cdbutil.c
  src/backend/cdb/dispatcher/cdbgang.c
  src/include/cdb/cdbutil.h
Labels: version: 5X_STABLE

#8981 resgroup: use proper memory context when checking bypass mode
  src/backend/utils/resgroup/resgroup.c
  src/backend/utils/resgroup/test/resgroup_test.c
Labels: topic: resource group

#8845 Add upgrade check for dropped columns of different length
  contrib/pg_upgrade/check_gp.c
  contrib/pg_upgrade/check_gp.h
  contrib/pg_upgrade/test/Makefile
  contrib/pg_upgrade/test/check_gp_test.c
  contrib/pg_upgrade/test/integration/greenplum_five_to_greenplum_six_upgrade_test_suite.c
  contrib/pg_upgrade/test/integration/scenarios/data_checksum_mismatch.c
  contrib/pg_upgrade/test/integration/scenarios/exchange_partitioned_heap_table.c
  contrib/pg_upgrade/test/integration/scenarios/heterogeneous_partitioned_heap_table.c
  contrib/pg_upgrade/test/integration/scenarios/heterogeneous_partitioned_heap_table.h
  contrib/pg_upgrade/test/integration/utilities/test-helpers.c
  contrib/pg_upgrade/test/integration/utilities/test-helpers.h
  contrib/pg_upgrade/test/integration/utilities/upgrade-helpers.c
  contrib/pg_upgrade/test/integration/utilities/upgrade-helpers.h
  contrib/pg_upgrade/test/mock_server.c
  contrib/pg_upgrade/test/mock_util.c
  contrib/pg_upgrade/test_gpdb_pre.sql
Labels: topic: upgrade, version: 6X_STABLE

#8988 6X: resgroup: use proper memory context when checking bypass mode
  src/backend/utils/resgroup/resgroup.c
  src/backend/utils/resgroup/test/resgroup_test.c
Labels: backport, topic: resource group, type: bug, version: 6X_STABLE

#8990 5X: resgroup: use proper memory context when checking bypass mode
  src/backend/utils/resgroup/resgroup.c
  src/backend/utils/resgroup/test/resgroup_test.c
Labels: backport, topic: resource group, type: bug, version: 5X_STABLE

#9005 6x bakcport: A volatile LIMIT should not pushdown.
  src/backend/optimizer/plan/planner.c
  src/test/regress/expected/limit_gp.out
  src/test/regress/expected/limit_gp_optimizer.out
  src/test/regress/sql/limit_gp.sql
Labels: backport, version: 6X_STABLE

#9006 5X: A volatile LIMIT should not pushdown.
  src/backend/optimizer/plan/planner.c
  src/test/regress/expected/limit_gp.out
  src/test/regress/expected/limit_gp_optimizer.out
  src/test/regress/sql/limit_gp.sql
Labels: backport, version: 5X_STABLE

#9010 6X: configure: disable -Wimplicit-fallthrough on clang
  configure
  configure.in
Labels: backport, version: 6X_STABLE

#8985 Removing the --skip_root_stats option of analyzedb
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: area: gporca, topic: analyze, topic: gporca, version: 7X_ALPHA

#8984 Ignoring the --skip_root_stats option of analyzedb
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: area: gporca, topic: analyze, topic: gporca, version: 5X_STABLE

#9043 Bump ORCA version to 3.82, update ICG result files
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  gpAux/releng/releng.mk
  src/test/regress/expected/gporca_optimizer.out
Labels: area: gporca, topic: gporca, version: 5X_STABLE

#9042 Bump ORCA version to 3.82 and update ICG result files
  concourse/tasks/compile_gpdb.yml
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  src/test/regress/expected/create_index_optimizer.out
  src/test/regress/expected/gporca_optimizer.out
Labels: area: gporca, topic: gporca, version: 7X_ALPHA

#9048 Bump ORCA version to 3.83, allow array cmp on btree index when using bitmap scan
  concourse/tasks/compile_gpdb.yml
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  src/backend/gpopt/translate/CTranslatorDXLToPlStmt.cpp
  src/include/gpopt/translate/CTranslatorDXLToPlStmt.h
  src/test/regress/expected/bitmapops_optimizer.out
  src/test/regress/expected/create_index_optimizer.out
  src/test/regress/expected/gporca.out
  src/test/regress/expected/gporca_optimizer.out
  src/test/regress/expected/join_optimizer.out
  src/test/regress/sql/gporca.sql
Labels: area: gporca, topic: gporca, version: 7X_ALPHA

#9049 Bump ORCA version to 3.83, allow array comparisons on btree indexes when used with bitmap scans
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  gpAux/releng/releng.mk
  src/backend/gpopt/translate/CTranslatorDXLToPlStmt.cpp
  src/include/gpopt/translate/CTranslatorDXLToPlStmt.h
  src/test/regress/expected/gporca.out
  src/test/regress/expected/gporca_optimizer.out
  src/test/regress/sql/gporca.sql
Labels: area: gporca, topic: gporca, version: 5X_STABLE

#9072 5x: Remove redundant Assert in localXidSatisfiesAnyDistributedSnapshot.
  src/backend/cdb/cdbdistributedsnapshot.c
  src/test/regress/expected/vacuum_gp.out
  src/test/regress/sql/vacuum_gp.sql
Labels: type: bug, version: 5X_STABLE

#9080 Fixup some miscellaneous answer files
  contrib/pg_upgrade/test/integration/output/exchange_partition_heap_table.source
  contrib/pg_upgrade/test/integration/output/partitioned_heap_table_with_differently_aligned_dropped_columns.source
  contrib/pg_upgrade/test/integration/output/partitioned_heap_table_with_differently_aligned_varlen_dropped_columns.source
  contrib/pg_upgrade/test/integration/output/partitioned_heap_table_with_differently_sized_dropped_columns.source
  contrib/pg_upgrade/test/integration/output/unsupported_dist_coltypes.source
Labels: topic: upgrade

#9061 Fix batching in analyzedb when gathering partition root statistics
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: area: gporca

#9084 Fix analyzedb to properly gather root statistics for partition tables
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: version: 5X_STABLE

#8550 Refactor EXISTS sublink pull-up.
  src/backend/optimizer/plan/subselect.c
  src/test/regress/expected/gporca.out
  src/test/regress/expected/qp_correlated_query.out
  src/test/regress/expected/qp_correlated_query_optimizer.out
  src/test/regress/expected/subselect.out
  src/test/regress/expected/subselect_gp.out
  src/test/regress/expected/subselect_gp_optimizer.out
  src/test/regress/sql/qp_correlated_query.sql
  src/test/regress/sql/subselect_gp.sql
Labels: type: feature, version: 6X_STABLE

#9014 Set wait_event for resource group
  src/backend/postmaster/pgstat.c
  src/backend/utils/adt/pgstatfuncs.c
  src/backend/utils/resgroup/resgroup.c
  src/test/isolation2/expected/resgroup/resgroup_concurrency.out
  src/test/isolation2/sql/resgroup/resgroup_concurrency.sql
Labels: topic: resource group

#9070 Adding check for name column type during upgrade
  contrib/pg_upgrade/test/integration/expected/upgraded_unsupported_name_col.out
  contrib/pg_upgrade/test/integration/gpdb5_schedule
  contrib/pg_upgrade/test/integration/gpdb6_schedule
  contrib/pg_upgrade/test/integration/input/unsupported_name_col.source
  contrib/pg_upgrade/test/integration/output/unsupported_name_col.source
  contrib/pg_upgrade/test/integration/sql/upgraded_unsupported_name_col.sql
Labels: topic: upgrade

#9097 Correctly update dirty tables in analyzedb after RENAME
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: area: gporca, topic: gporca, version: 7X_ALPHA

#9098 5X: Correctly update dirty tables in analyzedb after RENAME
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: area: gporca, topic: gporca, version: 5X_STABLE
