Repository greenplum-db/gpdb, pull requests merged in 2020-11, with the labels that each got.

#10970 Improve partition elimination when indexes are present
  src/backend/gporca/data/dxl/minidump/BitmapIndexApply-InnerSelect-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexApply-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexNLJWithProject.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexNLJWithProjectNoFilt.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexNLOJWithProject.mdp
  src/backend/gporca/data/dxl/minidump/BtreeIndexNLOJWithProject.mdp
  src/backend/gporca/data/dxl/minidump/DynamicBitmapIndexScan.mdp
  src/backend/gporca/data/dxl/minidump/DynamicIndexGet-OuterRefs.mdp
  src/backend/gporca/data/dxl/minidump/HJN-DPE-Bitmap-Outer-Child.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-InnerSelect-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-InnerSelect-PartTable2.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-MultiDistKeys-IncompletePDS-3-DistCols.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-PartKey-Is-IndexKey.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-PartResolverExpand.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/IndexedNLJBitmap.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBitmapIndex.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBitmapIndexWithSelect.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBtreeIndex.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBtreeIndexWithSelect.mdp
  src/backend/gporca/data/dxl/minidump/LOJ_convert_to_inner_with_and_predicate.mdp
  src/backend/gporca/data/dxl/minidump/NewBtreeIndexScanCost.mdp
  src/backend/gporca/libgpopt/include/gpopt/base/CDistributionSpecHashed.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalIndexApply.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalInnerIndexNLJoin.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalLeftOuterIndexNLJoin.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformImplementIndexApply.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformJoin2IndexApply.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformJoin2IndexApplyBase.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformJoin2IndexApplyGeneric.h
  src/backend/gporca/libgpopt/src/base/CDistributionSpecHashed.cpp
  src/backend/gporca/libgpopt/src/operators/CLogicalIndexApply.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalFilter.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalInnerIndexNLJoin.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalJoin.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalLeftOuterIndexNLJoin.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalScan.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformJoin2IndexApply.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformJoin2IndexApplyGeneric.cpp
  src/backend/gporca/server/CMakeLists.txt
  src/test/regress/expected/bfv_index.out
  src/test/regress/expected/bfv_index_optimizer.out
  src/test/regress/expected/equivclass_optimizer.out
  src/test/regress/sql/bfv_index.sql
Labels: area: gporca, version: 6X_STABLE

#11083 Experimental cost model update
  src/backend/gpopt/utils/COptTasks.cpp
  src/backend/gporca/data/dxl/minidump/BTreeIndex-Against-InListLarge.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexScanChooseIndex.mdp
  src/backend/gporca/libgpdbcost/src/CCostModelGPDB.cpp
  src/backend/gporca/libgpdbcost/src/CCostModelParamsGPDB.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformUtils.cpp
  src/backend/gporca/scripts/cal_bitmap_test.py
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca, version: 6X_STABLE

#11107 Improve partition elimination when indexes are present (port from 6X)
  src/backend/gporca/data/dxl/minidump/BitmapIndexApply-InnerSelect-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexApply-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexNLJWithProject.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexNLJWithProjectNoFilt.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexNLOJWithProject.mdp
  src/backend/gporca/data/dxl/minidump/BtreeIndexNLOJWithProject.mdp
  src/backend/gporca/data/dxl/minidump/DynamicBitmapIndexScan.mdp
  src/backend/gporca/data/dxl/minidump/DynamicIndexGet-OuterRefs.mdp
  src/backend/gporca/data/dxl/minidump/HJN-DPE-Bitmap-Outer-Child.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-InnerSelect-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-InnerSelect-PartTable2.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-MultiDistKeys-IncompletePDS-3-DistCols.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-PartKey-Is-IndexKey.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-PartResolverExpand.mdp
  src/backend/gporca/data/dxl/minidump/IndexApply-PartTable.mdp
  src/backend/gporca/data/dxl/minidump/IndexedNLJBitmap.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBitmapIndex.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBitmapIndexWithSelect.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBtreeIndex.mdp
  src/backend/gporca/data/dxl/minidump/LOJ-DynBtreeIndexWithSelect.mdp
  src/backend/gporca/data/dxl/minidump/LOJ_convert_to_inner_with_and_predicate.mdp
  src/backend/gporca/data/dxl/minidump/NewBtreeIndexScanCost.mdp
  src/backend/gporca/libgpopt/include/gpopt/base/CDistributionSpecHashed.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalIndexApply.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalInnerIndexNLJoin.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalLeftOuterIndexNLJoin.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformImplementIndexApply.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformJoin2IndexApply.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformJoin2IndexApplyBase.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformJoin2IndexApplyGeneric.h
  src/backend/gporca/libgpopt/src/base/CDistributionSpecHashed.cpp
  src/backend/gporca/libgpopt/src/operators/CLogicalIndexApply.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalFilter.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalInnerIndexNLJoin.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalJoin.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalLeftOuterIndexNLJoin.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalScan.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformJoin2IndexApply.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformJoin2IndexApplyGeneric.cpp
  src/backend/gporca/server/CMakeLists.txt
  src/test/regress/expected/bfv_index.out
  src/test/regress/expected/bfv_index_optimizer.out
  src/test/regress/expected/equivclass_optimizer.out
  src/test/regress/sql/bfv_index.sql
Labels: area: gporca, version: 7X_ALPHA

#11115 Experimental cost model update (port from 6X)
  src/backend/gpopt/utils/COptTasks.cpp
  src/backend/gporca/data/dxl/minidump/BTreeIndex-Against-InListLarge.mdp
  src/backend/gporca/data/dxl/minidump/BitmapIndexScanChooseIndex.mdp
  src/backend/gporca/libgpdbcost/src/CCostModelGPDB.cpp
  src/backend/gporca/libgpdbcost/src/CCostModelParamsGPDB.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformUtils.cpp
  src/backend/gporca/scripts/cal_bitmap_test.py
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca, version: 7X_ALPHA

#11088 [6X backport] Harden analyzedb
  gpMgmt/bin/analyzedb
Labels: version: 6X_STABLE

#11057 Faithfully parse inheritance-recursion for external tables
  src/backend/gpopt/translate/CTranslatorQueryToDXL.cpp
  src/backend/parser/parse_relation.c
  src/test/regress/expected/qp_orca_fallback.out
  src/test/regress/expected/qp_orca_fallback_optimizer.out
  src/test/regress/sql/qp_orca_fallback.sql
Labels: area: gporca, version: 5X_STABLE

#11124 Bump ORCA version to 3.113
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  gpAux/releng/releng.mk
Labels: area: gporca, version: 5X_STABLE

#11123 [5X] Harden analyzedb against concurrently dropped and recreated tables
  gpMgmt/bin/analyzedb
Labels: version: 5X_STABLE

#11110 [master]Notice reject messages of external tables executed on master
  gpcontrib/gp_exttable_fdw/gp_exttable_fdw.c
  src/test/regress/input/external_table.source
  src/test/regress/output/external_table.source
Labels: version: 7X_ALPHA

#11129 Allow Orca to choose index only scan on non-distribution columns
  src/backend/gporca/data/dxl/minidump/IndexOnlyScan-NoDistKeyInIndex.mdp
  src/backend/gporca/libgpdbcost/src/CCostModelGPDBLegacy.cpp
  src/backend/gporca/libgpopt/include/gpopt/base/CColRef.h
  src/backend/gporca/libgpopt/src/operators/CLogical.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformIndexGet2IndexOnlyScan.cpp
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca

#11106 Add Orca costing of index only scan
  gpMgmt/bin/gpsd
  gpMgmt/bin/minirepro
  src/backend/gpopt/translate/CTranslatorRelcacheToDXL.cpp
  src/backend/gporca/data/dxl/minidump/BTreeIndex-Against-ScalarSubquery.mdp
  src/backend/gporca/data/dxl/minidump/FullJoin-Subquery-CastedPredicates.mdp
  src/backend/gporca/data/dxl/minidump/GroupingOnSameTblCol-1.mdp
  src/backend/gporca/data/dxl/minidump/IndexNLJoin_Cast_NoMotion.mdp
  src/backend/gporca/data/dxl/minidump/IndexOnlyScan-NoDistKeyInIndex.mdp
  src/backend/gporca/data/dxl/minidump/IndexScanWithNestedCTEAndSetOp.mdp
  src/backend/gporca/data/dxl/minidump/NestedNLJWithBlockingSpool.mdp
  src/backend/gporca/data/dxl/minidump/TimeTypeStatsNotComparable.mdp
  src/backend/gporca/data/dxl/parse_tests/q26-Metadata.xml
  src/backend/gporca/libgpdbcost/src/CCostModelGPDB.cpp
  src/backend/gporca/libgpopt/src/mdcache/CMDAccessor.cpp
  src/backend/gporca/libgpopt/src/translate/CTranslatorExprToDXL.cpp
  src/backend/gporca/libnaucrates/include/naucrates/dxl/parser/CParseHandlerStatsDerivedRelation.h
  src/backend/gporca/libnaucrates/include/naucrates/dxl/xml/dxltokens.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CDXLRelStats.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CDXLStatsDerivedRelation.h
  src/backend/gporca/libnaucrates/include/naucrates/md/IMDRelStats.h
  src/backend/gporca/libnaucrates/include/naucrates/statistics/CStatistics.h
  src/backend/gporca/libnaucrates/include/naucrates/statistics/IStatistics.h
  src/backend/gporca/libnaucrates/src/md/CDXLRelStats.cpp
  src/backend/gporca/libnaucrates/src/md/CDXLStatsDerivedRelation.cpp
  src/backend/gporca/libnaucrates/src/parser/CParseHandlerRelStats.cpp
  src/backend/gporca/libnaucrates/src/parser/CParseHandlerStatsDerivedRelation.cpp
  src/backend/gporca/libnaucrates/src/statistics/CStatistics.cpp
  src/backend/gporca/libnaucrates/src/xml/dxltokens.cpp
  src/backend/gporca/scripts/cal_bitmap_test.py
  src/backend/gporca/scripts/tests/test_cal_bitmap_test.py
  src/backend/utils/misc/guc_gp.c
  src/test/regress/expected/aggregates_optimizer.out
  src/test/regress/expected/create_index_optimizer.out
  src/test/regress/expected/select_parallel_optimizer.out
Labels: area: gporca

#10819 Extract test_orca as a separate job outside of compile step
  concourse/pipelines/gpdb_master-generated.yml
  concourse/pipelines/pr_pipeline.yml
  concourse/pipelines/templates/gpdb-tpl.yml
  concourse/scripts/compile_gpdb.bash
  concourse/scripts/unit_tests_gporca.bash
  concourse/tasks/unit_tests_gporca.yml
  src/backend/gporca/concourse/test_orca_pipeline.yml
Labels: area: gporca, topic: continuous integration

#11139 Fix handling of empty constraint array in Orca
  src/backend/gporca/data/dxl/minidump/ArrayCmpAllEmpty.mdp
  src/backend/gporca/data/dxl/minidump/ArrayCmpAnyEmpty.mdp
  src/backend/gporca/data/dxl/minidump/ArrayCmpAnyEmptyLessThan.mdp
  src/backend/gporca/libgpopt/src/base/CConstraint.cpp
  src/backend/gporca/libgpopt/src/base/CConstraintConjunction.cpp
  src/backend/gporca/libnaucrates/src/parser/CParseHandlerArray.cpp
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca

#11153 [6X] Fix handling of empty constraint array in Orca (#11139)
  src/backend/gporca/data/dxl/minidump/ArrayCmpAllEmpty.mdp
  src/backend/gporca/data/dxl/minidump/ArrayCmpAnyEmpty.mdp
  src/backend/gporca/data/dxl/minidump/ArrayCmpAnyEmptyLessThan.mdp
  src/backend/gporca/libgpopt/src/base/CConstraint.cpp
  src/backend/gporca/libgpopt/src/base/CConstraintConjunction.cpp
  src/backend/gporca/libnaucrates/src/parser/CParseHandlerArray.cpp
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca, version: 6X_STABLE

#11154 Bump ORCA version to 3.114
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  gpAux/releng/releng.mk
Labels: area: gporca, version: 5X_STABLE

#11155 Update Instructions for formatting in-flight PR's
  src/backend/gporca/README.format.md
Labels: area: gporca

#11086 [6x_stable]Notice reject messages of external tables executed on master
  src/backend/access/external/fileam.c
  src/test/regress/input/external_table.source
  src/test/regress/output/external_table.source
Labels: version: 6X_STABLE

#11111 [5x_stable]Notice reject messages of external tables executed on master
  src/backend/access/external/fileam.c
  src/test/regress/input/external_table.source
  src/test/regress/output/external_table.source
Labels: version: 5X_STABLE

#10993 Acquire proper locks in gp_aoseg() and similar debugging functions.
  src/backend/access/aocs/aocssegfiles.c
  src/backend/access/appendonly/aosegfiles.c
Labels: version: 6X_STABLE

#11176 [6X Backport]Get pg_database tuple from disk in vac_update_datfrozenxid.
  src/backend/commands/vacuum.c
  src/test/regress/expected/vacuum_gp.out
  src/test/regress/sql/vacuum_gp.sql
Labels: backport, version: 6X_STABLE

#11145 Store lint/double mappable info in CDatumGenericGPDB
  src/backend/gporca/data/dxl/minidump/AddPredsInSubqueries.mdp
  src/backend/gporca/libgpopt/src/base/CUtils.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalHashJoin.cpp
  src/backend/gporca/libnaucrates/include/naucrates/base/CDatumGenericGPDB.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDTypeGenericGPDB.h
  src/backend/gporca/libnaucrates/include/naucrates/md/IMDTypeGeneric.h
  src/backend/gporca/libnaucrates/src/base/CDatumGenericGPDB.cpp
  src/backend/gporca/libnaucrates/src/md/CMDTypeGenericGPDB.cpp
  src/backend/gporca/scripts/convert_minirepro_6_to_7.py
Labels: area: gporca, version: 7X_ALPHA

#11184 [Backport6X] Avoid bgwriter sending statistics to stat collector when mirror is no…
  src/backend/postmaster/pgstat.c
Labels: version: 6X_STABLE

#11185 Cache a type pointer in CDatumGenericGPDB
  src/backend/gporca/data/dxl/minidump/AddPredsInSubqueries.mdp
  src/backend/gporca/libgpopt/src/base/CUtils.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalHashJoin.cpp
  src/backend/gporca/libnaucrates/include/naucrates/base/CDatumGenericGPDB.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDTypeGenericGPDB.h
  src/backend/gporca/libnaucrates/include/naucrates/md/IMDTypeGeneric.h
  src/backend/gporca/libnaucrates/src/base/CDatumGenericGPDB.cpp
  src/backend/gporca/libnaucrates/src/md/CMDTypeGenericGPDB.cpp
Labels: area: gporca, backport, version: 6X_STABLE

#11146 6X: Level down the lock of creating indexes on AO tables if blkdir exists
  src/backend/commands/indexcmds.c
  src/test/isolation2/expected/reindex/createidx_while_reindex_ao_gist.out
  src/test/isolation2/expected/reindex/createidx_while_reindex_ao_partition.out
  src/test/isolation2/expected/reindex/createidx_while_reindex_aoco_gist.out
  src/test/isolation2/expected/reindex/createidx_while_reindex_idx_ao_bitmap.out
  src/test/isolation2/expected/reindex/createidx_while_reindex_idx_ao_btree.out
  src/test/isolation2/expected/reindex/createidx_while_reindex_idx_aoco_bitmap.out
  src/test/isolation2/expected/reindex/createidx_while_reindex_idx_aoco_btree.out
  src/test/isolation2/sql/reindex/createidx_while_reindex_ao_gist.sql
  src/test/isolation2/sql/reindex/createidx_while_reindex_ao_partition.sql
  src/test/isolation2/sql/reindex/createidx_while_reindex_aoco_gist.sql
  src/test/isolation2/sql/reindex/createidx_while_reindex_idx_ao_bitmap.sql
  src/test/isolation2/sql/reindex/createidx_while_reindex_idx_ao_btree.sql
  src/test/isolation2/sql/reindex/createidx_while_reindex_idx_aoco_bitmap.sql
  src/test/isolation2/sql/reindex/createidx_while_reindex_idx_aoco_btree.sql
Labels: version: 6X_STABLE

#11199 Reinstate GPOS_OOM_CHECK in CMemoryPoolTracker::NewImpl
  src/backend/gporca/libgpos/src/memory/CMemoryPoolTracker.cpp
Labels: area: gporca, needs: backport, version: 7X_ALPHA
