Repository greenplum-db/gpdb, pull requests merged in 2020-05, with the labels that each got.

#9887 Backport fixes for syscache lookup error
  src/backend/utils/adt/ruleutils.c
  src/test/regress/expected/rules.out
  src/test/regress/sql/rules.sql
Labels: version: 6X_STABLE

#9987 6X Backport: Enable parallel writes for Foreign Data Wrappers
  contrib/postgres_fdw/Makefile
  contrib/postgres_fdw/expected/gp_postgres_fdw.out
  contrib/postgres_fdw/sql/gp_postgres_fdw.sql
  src/backend/cdb/cdbcat.c
Labels: backport, version: 6X_STABLE

#9951 Enable ccache on Travis CI
  .travis.yml
Labels: version: 6X_STABLE, version: 7X_ALPHA

#10052 [backported to 5X]Recompile plpython subdir to set the right RUNPATH
  gpAux/Makefile
Labels: type: feature

#10033 [6X backport] Reduce flakiness of orafce dbms_pipe test
  gpcontrib/orafce/expected/dbms_pipe_session_B.out
  gpcontrib/orafce/sql/dbms_pipe_session_B.sql
Labels: version: 6X_STABLE

#10061 (6x backport)Fix possible crash in COPY FORM on QEs
  src/backend/commands/copy.c
  src/test/regress/expected/gpcopy_dispatch.out
  src/test/regress/sql/gpcopy_dispatch.sql
Labels: backport, type: bug, version: 6X_STABLE

#9988 Limit DPE stats to groups with unresolved partition selectors
  src/backend/gporca/data/dxl/minidump/DPE-with-unsupported-pred.mdp
  src/backend/gporca/data/dxl/minidump/Join-Varchar-Equality.mdp
  src/backend/gporca/data/dxl/minidump/PartTbl-AvoidRangePred-DPE.mdp
  src/backend/gporca/data/dxl/minidump/PartTbl-JoinOverGbAgg-2.mdp
  src/backend/gporca/data/dxl/minidump/PartTbl-JoinOverUnion-1.mdp
  src/backend/gporca/data/dxl/minidump/PartTbl-MultiWayJoinWithDPE-2.mdp
  src/backend/gporca/data/dxl/minidump/PartTbl-MultiWayJoinWithDPE.mdp
  src/backend/gporca/libgpopt/src/base/CCostContext.cpp
  src/backend/gporca/libgpopt/src/operators/CExpressionHandle.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalJoin.cpp
Labels: area: gporca, topic: gporca, version: 7X_ALPHA

#10075 PANIC if the workfile list in shared-memory is inconsistent
  src/backend/utils/workfile_manager/workfile_mgr.c
Labels: version: 6X_STABLE

#10101 gpexpand: behave: cleanup leaked segs after rollback
  gpMgmt/test/behave/mgmt_utils/gpexpand.feature
  gpMgmt/test/behave/mgmt_utils/steps/mgmt_utils.py
Labels: topic: gpexpand

#10102 6X: gpexpand: behave: cleanup leaked segs after rollback
  gpMgmt/test/behave/mgmt_utils/gpexpand.feature
  gpMgmt/test/behave/mgmt_utils/steps/mgmt_utils.py
Labels: topic: gpexpand, version: 6X_STABLE

#10091 removing xerces patch
  concourse/scripts/compile_gpdb.bash
  src/backend/gporca/concourse/xerces-c/build_xerces.py
  src/backend/gporca/concourse/xerces-c/package_tarball.yml
  src/backend/gporca/patches/xerces-c-gpdb.patch
Labels: area: gporca, topic: gporca, version: 7X_ALPHA

#10103 gpexpand: behave: allow pkill to fail
  gpMgmt/test/behave/mgmt_utils/gpexpand.feature
Labels: topic: gpexpand

#10104 6X: gpexpand: behave: allow pkill to fail
  gpMgmt/test/behave/mgmt_utils/gpexpand.feature
Labels: topic: gpexpand, version: 6X_STABLE

#10112 gpexpand: fix the template creation
  gpMgmt/bin/gpexpand
Labels: topic: gpexpand

#10133 gpexpand: retire the optimization of #9551
  gpMgmt/bin/gpexpand
  gpMgmt/bin/gppylib/commands/gp.py
  gpMgmt/test/behave/mgmt_utils/gpexpand.feature
  gpMgmt/test/behave/mgmt_utils/steps/mgmt_utils.py
Labels: topic: gpexpand

#10068 Build ORCA with C++14: Take Two
  .travis.yml
  src/backend/gporca/CMakeLists.txt
  src/backend/gporca/gporca.mk
  src/backend/gporca/libgpopt/include/gpopt/xforms/CJoinOrderDPv2.h
  src/backend/gporca/libgpos/include/gpos/common/CAutoP.h
  src/backend/gporca/libgpos/include/gpos/common/CAutoRg.h
  src/backend/gporca/libgpos/include/gpos/common/CDouble.h
  src/backend/gporca/libgpos/include/gpos/common/CLink.h
  src/backend/gporca/libgpos/include/gpos/common/CRefCount.h
  src/backend/gporca/libgpos/include/gpos/memory/CAutoMemoryPool.h
  src/backend/gporca/libgpos/server/include/unittest/gpos/common/CSyncHashtableTest.h
  src/backend/gporca/libgpos/src/memory/CAutoMemoryPool.cpp
  src/backend/gporca/server/src/unittest/dxl/CParseHandlerCostModelTest.cpp
Labels: area: gporca, topic: gporca

#10124 PXF: fix glob matching in PXF paths for Hadoop-compatible filesystems
  gpcontrib/pxf/src/pxffragment.c
Labels: type: bug, version: 6X_STABLE

#10107 Setup GPHOME_LOADERS environment and script
  concourse/scripts/compile_gpdb.bash
  gpAux/client/scripts/greenplum_clients_path.sh
Labels: area: clients

#10125 5X Backport: PXF: fix glob matching in PXF paths for Hadoop-compatible filesystems
  gpAux/extensions/pxf/src/pxffragment.c
Labels: backport, type: bug, version: 5X_STABLE

#10162 Setup GPHOME_LOADERS environment and script (#10107)
  concourse/scripts/compile_gpdb.bash
  gpAux/client/scripts/greenplum_clients_path.sh
Labels: backport, version: 6X_STABLE

#10173 Fix pkill path in sreh test (#10171)
  src/test/regress/input/sreh.source
  src/test/regress/output/sreh.source
Labels: backport, version: 6X_STABLE

#10100 Log fewer errors
  src/backend/gpopt/utils/COptTasks.cpp
  src/backend/gporca/libgpos/include/gpos/_api.h
  src/backend/gporca/libgpos/src/_api.cpp
  src/backend/optimizer/plan/orca.c
Labels: area: gporca, topic: gporca

#10194 Remove unnecessary projections from duplicate sensitive Distribute(s) in ORCA
  src/backend/gpopt/translate/CTranslatorDXLToPlStmt.cpp
  src/test/regress/expected/gporca.out
  src/test/regress/expected/gporca_optimizer.out
  src/test/regress/sql/gporca.sql
Labels: area: gporca, topic: gporca

#10196 Log fewer errors
  config/orca.m4
  configure
  depends/conanfile_orca.txt
  gpAux/releng/releng.mk
  src/backend/gpopt/utils/COptTasks.cpp
  src/backend/optimizer/plan/orca.c
Labels: area: gporca, topic: gporca, version: 5X_STABLE

#9974 Using gp_add_segment to register mirror in catalog.
  gpMgmt/bin/gppylib/system/configurationImplGpdb.py
  src/test/isolation2/expected/segwalrep/recoverseg_from_file.out
  src/test/isolation2/isolation2_schedule
  src/test/isolation2/sql/segwalrep/recoverseg_from_file.sql
Labels: needs: backport

#10146 Ensure Material nodes generated by Orca always materialize
  src/backend/gpopt/translate/CTranslatorDXLToPlStmt.cpp
  src/test/regress/expected/gporca.out
  src/test/regress/expected/gporca_optimizer.out
  src/test/regress/sql/gporca.sql
Labels: area: gporca, topic: gporca

#10029 Penalize cross products in Orca's DPv2 algorithm more accurately
  src/backend/gporca/data/dxl/minidump/Join-Varchar-Equality.mdp
  src/backend/gporca/libgpopt/include/gpopt/xforms/CJoinOrderDPv2.h
  src/backend/gporca/libgpopt/src/xforms/CJoinOrderDPv2.cpp
Labels: area: gporca, topic: gporca

#10205 Fix ccnt overflow in gpperfmon
  gpAux/gpperfmon/src/gpmon/gpsmon.c
  gpcontrib/gp_internal_tools/gp_instrument_shmem.c
  src/include/gpmon/gpmon.h
  src/test/isolation2/expected/instr_in_shmem_terminate.out
  src/test/isolation2/sql/instr_in_shmem_terminate.sql
  src/test/regress/expected/instr_in_shmem.out
  src/test/regress/expected/instr_in_shmem_verify.out
  src/test/regress/sql/instr_in_shmem.sql
  src/test/regress/sql/instr_in_shmem_verify.sql
Labels: version: 6X_STABLE
