Repository greenplum-db/gpdb, pull requests merged in 2021-02, with the labels that each got.

#11399 Disallow btree index scan on AO table
  src/backend/gporca/libgpopt/src/xforms/CXformUtils.cpp
  src/test/regress/expected/gporca.out
  src/test/regress/expected/gporca_optimizer.out
  src/test/regress/sql/gporca.sql
Labels: area: gporca

#11388 Set column processed after infer new predicate on it
  src/backend/gporca/data/dxl/minidump/InferPredicatesForProcessedColumn.mdp
  src/backend/gporca/libgpopt/src/operators/CExpressionPreprocessor.cpp
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca

#11403 Fail gporca_test if the unit test name is invalid
  src/backend/gporca/server/CMakeLists.txt
  src/backend/gporca/server/src/startup/main.cpp
Labels: area: gporca

#11439 6X: Disallow btree index scan on AO table
  src/backend/gporca/libgpopt/src/xforms/CXformUtils.cpp
  src/test/regress/expected/gporca.out
  src/test/regress/expected/gporca_optimizer.out
  src/test/regress/sql/gporca.sql
Labels: area: gporca, version: 6X_STABLE

#11411 docs - new optimizer_join_order default value
  gpdb-doc/dita/ref_guide/config_params/guc-list.xml
Labels: area: gporca

#11474 Fix SIGSEGV/assert violation with certain functions with no arguments
  src/backend/gporca/data/dxl/minidump/PartPredsWithRandom.mdp
  src/backend/gporca/libgpopt/src/operators/CScalarIdent.cpp
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca, version: 6X_STABLE

#11480 Fix SIGSEGV/assert violation with certain functions with no arguments
  src/backend/gporca/data/dxl/minidump/PartPredsWithRandom.mdp
  src/backend/gporca/libgpopt/src/operators/CScalarIdent.cpp
  src/backend/gporca/server/CMakeLists.txt
Labels: area: gporca

#11489 ic-proxy: limit max size of packet cache.
  src/backend/cdb/motion/ic_proxy_pkt_cache.c
  src/backend/cdb/motion/ic_proxy_pkt_cache.h
Labels: needs: backport

#11497 Properly end minidump filename with a NULL byte
  src/backend/gporca/libgpopt/src/minidump/CMinidumperUtils.cpp
Labels: area: gporca

#11495 [5X]fix gpfdist multiple reader error (#11442)
  src/backend/utils/misc/fstream/gfile.c
  src/bin/gpfdist/regress/data/catfile.yml
  src/bin/gpfdist/regress/data/transform/data1.txt
  src/bin/gpfdist/regress/input/exttab1.source
  src/bin/gpfdist/regress/output/exttab1.source
Labels: backport, version: 5X_STABLE

#11493 [6X] fix gpfdist multiple reader error (#11442)
  src/backend/utils/misc/fstream/gfile.c
  src/bin/gpfdist/regress/data/catfile.yml
  src/bin/gpfdist/regress/data/transform/data1.txt
  src/bin/gpfdist/regress/input/exttab1.source
  src/bin/gpfdist/regress/output/exttab1.source
Labels: backport, version: 6X_STABLE

#11492 Fall back for queries with nested window functions
  src/backend/gpopt/gpdbwrappers.cpp
  src/backend/gpopt/translate/CQueryMutators.cpp
  src/backend/optimizer/util/walkers.c
  src/include/gpopt/gpdbwrappers.h
  src/include/gpopt/translate/CQueryMutators.h
  src/include/optimizer/walkers.h
  src/test/regress/expected/gporca.out
  src/test/regress/expected/gporca_optimizer.out
  src/test/regress/sql/gporca.sql
Labels: area: gporca, version: 5X_STABLE

#11503 [6X backport] CLI: update logging and help text
  gpMgmt/bin/gppylib/programs/clsRecoverSegment.py
  gpMgmt/doc/gprecoverseg_help
  gpMgmt/doc/gpstate_help
Labels: version: 6X_STABLE

#11512 readability: const-qualify pointer parameters
  .clang-tidy
  src/backend/gpopt/translate/CTranslatorRelcacheToDXL.cpp
  src/backend/gpopt/translate/CTranslatorUtils.cpp
  src/backend/gporca/libgpdbcost/include/gpdbcost/CCostModelGPDBLegacy.h
  src/backend/gporca/libgpdbcost/src/CCostModelGPDBLegacy.cpp
  src/backend/gporca/libgpopt/include/gpopt/engine/CEnumeratorConfig.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformUtils.h
  src/backend/gporca/libgpopt/src/engine/CEnumeratorConfig.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalUnionAll.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformUtils.cpp
  src/backend/gporca/libnaucrates/include/naucrates/dxl/operators/CDXLOperatorFactory.h
  src/backend/gporca/libnaucrates/src/operators/CDXLOperatorFactory.cpp
  src/backend/gporca/server/include/unittest/gpopt/CTestUtils.h
  src/backend/gporca/server/include/unittest/gpopt/search/CTreeMapTest.h
  src/backend/gporca/server/src/unittest/CTestUtils.cpp
  src/backend/gporca/server/src/unittest/gpopt/search/CTreeMapTest.cpp
  src/include/gpopt/translate/CTranslatorRelcacheToDXL.h
  src/include/gpopt/translate/CTranslatorUtils.h
Labels: area: gporca, version: 7X_ALPHA

#11514 Remove dead code CCostModelGPDBLegacy
  src/backend/gporca/libgpdbcost/include/gpdbcost/CCostModelGPDBLegacy.h
  src/backend/gporca/libgpdbcost/include/gpdbcost/CCostModelParamsGPDBLegacy.h
  src/backend/gporca/libgpdbcost/src/CCostModelGPDBLegacy.cpp
  src/backend/gporca/libgpdbcost/src/CCostModelParamsGPDBLegacy.cpp
Labels: area: gporca, version: 7X_ALPHA

#11513 [ORCA] Fix improper uses of reinterpret_cast
  src/backend/gporca/libgpopt/include/gpopt/base/CDrvdPropCtxtPlan.h
  src/backend/gporca/libgpopt/include/gpopt/base/CDrvdPropCtxtRelational.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogical.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalAssert.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalDifference.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalDifferenceAll.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalIntersect.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalIntersectAll.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalMaxOneRow.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalSelect.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalUnion.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CLogicalUnionAll.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPattern.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalAssert.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalExternalScan.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalFilter.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalHashAgg.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalHashAggDeduplicate.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalScalarAgg.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalStreamAgg.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalStreamAggDeduplicate.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CPhysicalTableScan.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalar.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarAggFunc.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarArray.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarArrayCmp.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarBoolOp.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarConst.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarFunc.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarIdent.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarNullIf.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarOp.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarProjectElement.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarProjectList.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarSubquery.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarSubqueryAll.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarSubqueryAny.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarSubqueryExists.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarSubqueryNotExists.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarSubqueryQuantified.h
  src/backend/gporca/libgpopt/include/gpopt/operators/CScalarWindowFunc.h
  src/backend/gporca/libgpopt/src/operators/CLogicalGbAgg.cpp
  src/backend/gporca/libgpopt/src/operators/CPhysicalAgg.cpp
  src/backend/gporca/libgpopt/src/operators/CScalarIsDistinctFrom.cpp
  src/backend/gporca/libgpos/src/error/CErrorContext.cpp
Labels: area: gporca, version: 7X_ALPHA

#11506 Limit anyarray coercion to INSERT statements
  src/backend/parser/parse_coerce.c
  src/test/regress/expected/bfv_statistic.out
  src/test/regress/expected/bfv_statistic_optimizer.out
  src/test/regress/expected/gp_create_view.out
  src/test/regress/sql/bfv_statistic.sql
  src/test/regress/sql/gp_create_view.sql
Labels: needs: backport, version: 6X_STABLE

#11521 Use switch cases instead of for-loops over array-of-function pointers
  src/backend/gpopt/translate/CTranslatorDXLToPlStmt.cpp
  src/backend/gpopt/translate/CTranslatorDXLToScalar.cpp
  src/backend/gpopt/translate/CTranslatorQueryToDXL.cpp
  src/backend/gpopt/translate/CTranslatorScalarToDXL.cpp
  src/backend/gporca/libgpdbcost/include/gpdbcost/CCostModelGPDB.h
  src/backend/gporca/libgpdbcost/src/CCostModelGPDB.cpp
  src/backend/gporca/libgpopt/include/gpopt/operators/CNormalizer.h
  src/backend/gporca/libgpopt/include/gpopt/translate/CTranslatorDXLToExpr.h
  src/backend/gporca/libgpopt/include/gpopt/translate/CTranslatorExprToDXL.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformSimplifySubquery.h
  src/backend/gporca/libgpopt/include/gpopt/xforms/CXformUtils.h
  src/backend/gporca/libgpopt/src/operators/CNormalizer.cpp
  src/backend/gporca/libgpopt/src/translate/CTranslatorDXLToExpr.cpp
  src/backend/gporca/libgpopt/src/translate/CTranslatorExprToDXL.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformSimplifySubquery.cpp
  src/backend/gporca/libgpopt/src/xforms/CXformUtils.cpp
  src/backend/gporca/libnaucrates/include/naucrates/dxl/operators/CDXLOperatorFactory.h
  src/backend/gporca/libnaucrates/include/naucrates/dxl/parser/CParseHandlerDXL.h
  src/backend/gporca/libnaucrates/src/operators/CDXLOperatorFactory.cpp
  src/backend/gporca/libnaucrates/src/parser/CParseHandlerDXL.cpp
  src/include/gpopt/translate/CTranslatorDXLToPlStmt.h
  src/include/gpopt/translate/CTranslatorDXLToScalar.h
  src/include/gpopt/translate/CTranslatorQueryToDXL.h
  src/include/gpopt/translate/CTranslatorScalarToDXL.h
Labels: area: gporca, version: 7X_ALPHA

#11517 [Backport] Use CColRef Id for hash/equal comparisons in Orca
  src/backend/gporca/libgpopt/include/gpopt/base/CCTEInfo.h
  src/backend/gporca/libgpopt/include/gpopt/base/CColRefSet.h
  src/backend/gporca/libgpopt/include/gpopt/base/CConstraint.h
  src/backend/gporca/libgpopt/include/gpopt/translate/CTranslatorExprToDXL.h
Labels: area: gporca

#11470 Speed up ORCA's Relcache translation
  src/backend/gpopt/relcache/CMDProviderRelcache.cpp
  src/backend/gporca/libgpopt/src/mdcache/CMDAccessor.cpp
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDIdCast.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDIdColStats.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDIdGPDB.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDIdRelStats.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDIdScCmp.h
  src/backend/gporca/libnaucrates/include/naucrates/md/CMDProviderMemory.h
  src/backend/gporca/libnaucrates/include/naucrates/md/IMDId.h
  src/backend/gporca/libnaucrates/include/naucrates/md/IMDProvider.h
  src/backend/gporca/libnaucrates/src/md/CMDProviderMemory.cpp
  src/include/gpopt/relcache/CMDProviderRelcache.h
Labels: area: gporca

#11534 Add analyzedb option to skip analyze rootstats
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: area: gporca, version: 6X_STABLE

#11548 Add analyzedb option to skip analyze rootstats
  gpMgmt/bin/analyzedb
  gpMgmt/test/behave/mgmt_utils/analyzedb.feature
Labels: area: gporca, version: 7X_ALPHA

#11539 Fix external table escape off bug
  src/backend/commands/copy.c
  src/test/isolation2/input/external_table.source
  src/test/isolation2/output/external_table.source
  src/test/regress/data/exttab_escape_off.data
Labels: version: 6X_STABLE

#11465 [6X Backport] Imporve gpload merge performance
  gpMgmt/bin/gpload.py
Labels: backport, gpload, version: 6X_STABLE

#11562 Print description of LOCKTAG_RESOURCE_QUEUE in DescribeLockTag().
  src/backend/storage/lmgr/lmgr.c
Labels: needs: backport

#11542 Follow-up: pg_upgrade check to detect views with anyarray casts
  contrib/pg_upgrade/greenplum/check_gp.c
  contrib/pg_upgrade_support/pg_upgrade_support.c
Labels: needs: backport, version: 6X_STABLE

#11560 Introduce contentId parameter for WAL archiving
  src/backend/access/transam/xlogarchive.c
  src/backend/postmaster/pgarch.c
  src/test/gpdb_pitr/test_gpdb_pitr.sh
Labels: version: 7X_ALPHA
